{% extends 'base.html' %}


{% block content %}

<h2>My Account</h2>

<label for="inputState">Name</label>
<input disabled value="{{user.username}}"  class="form-control">
<label for="inputState">Image</label>
<img class="form-control img-responsive" style="height: 200px; width: 200px;" src="{% url 'secureImage' path='profile' id=user.id %}">



{% if user.profile.organizer %}
  <label for="inputState">Role</label>
  <select disabled name="type" id="inputState" class="form-control">
    <option selected value="o">Organizer</option>
    <option value="a">Attendant</option>
  </select>
{% elif user.profile.attendant %}
<label for="inputState">Role</label>
  <select disabled name="type" id="inputState" class="form-control">
    <option value="o">Organizer</option>
    <option selected value="a">Attendant</option>
  </select>
{% else %}
<form action="{% url 'accounts:usertype' %}" method="post">
	<div class="form-row">
		<div class="form-group col-md-12">
		{% csrf_token %}
		<label for="inputState">State</label>
		<select name="type" id="inputState" class="form-control">
			<option value="o">Organizer</option>
			<option value="a">Attendant</option>
		</select>
		</div>
  		<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
</form>
{% endif %}
<form action="{% url 'accounts:profile' %}" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputEmail4">Email</label>
      {% if user.profile.email %}
      <input type="email" class="form-control" id="inputEmail4" value="{{ user.profile.email }}" name="email"  placeholder="Email">
      {% else %}
      <input type="email" class="form-control" id="inputEmail4" name="email"  placeholder="Email">
      {% endif %}
    </div>
    <div class="form-group col-md-12">
      <label for="inputState">Image</label>
      <input class="form-control" type="file" name="myimage">
    </div>
    <div class="form-group col-md-12">
      <label for="inputState">My Interests</label>
      <select name="interests" multiple  class="form-control">
        {% for i in mycategories %}
          <option value="{{i.id}}" selected>{{i }}</option>
        {% endfor %}
        {% for i in categories %}
          <option value="{{i.id}}">{{i }}</option>
        {% endfor %}
      </select>
    </div>

    {% if user.profile.attendant %}
    <!-- <div class="form-group col-md-12 row rows"> -->
      <div class="form-group col-md-12">
      <label for="inputState">Free Time</label>
      </div>
      <div class="form-group col-md-12">
        {% for ft in freetimes %}
         {{ft.day}} : From <input type="number" value="{{ft.start}}" name="from{{ ft.id }}"> 
                        <select name="ampm1{{ ft.id }}">
                          {% if ft.allday %}
                          <option value="">select</option>
                          <option value="am" >AM</option>
                          <option value="pm" >PM</option>
                          {% elif  ft.startampm == "am" %}
                          <option value="am" selected>AM</option>
                          <option value="pm">PM</option>
                          {% elif ft.startampm == "pm" %}
                          <option value="am" >AM</option>
                          <option value="pm" selected>PM</option>
                          {% else   %}
                          <option value="">select</option>
                          <option value="am" >AM</option>
                          <option value="pm" >PM</option>
                          {% endif   %}
                        </select> 
                        To <input value="{{ft.end}}" type="number" name="to{{ ft.id }}">  
                        <select name="ampm2{{ ft.id }}">
                          {% if ft.endampm == "am" %}
                          <option value="am" selected>AM</option>
                          <option value="pm">PM</option>
                          {% elif ft.endampm == "pm" %}
                          <option value="am" >AM</option>
                          <option value="pm" selected>PM</option>
                          {% else   %}
                          <option value="">select</option>
                          <option value="am" >AM</option>
                          <option value="pm" >PM</option>
                          {% endif   %}
                        </select> 
         {% if ft.allday %}
         <input type="checkbox" name="all{{ ft.id }}" checked> All Day
         {% else %}
         <input type="checkbox" name="all{{ ft.id }}"> All Day
         {% endif %}
        <br>
        {% endfor %}
      </div>
      <!-- </div> -->
    <!-- </div> -->
    {% endif %}

  </div>
  <!-- <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div> -->
  <!-- </div> -->
  <button type="submit" class="btn btn-primary">Update</button>
</form>


{% endblock %}