{% extends 'base.html' %}


{% block content %}
{% load static %}
   <!-- Portfolio Item Heading -->
      <h1 class="my-4">Your events
        <small>Your campus</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
          {% if user.profile.organizer %}
          <h3 class="my-3">Post an event</h3>
          <form action="{% url 'events:event' %}" method="post">
            {% csrf_token %}
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" name="title" class="form-control" id="inputEmail3" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Detail</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="detail" id="inputPassword3" name="detail" rows="5" required></textarea>
                </div>
              </div>
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Tags</legend>
                  <div class="col-sm-10">
                    <select name="interests" multiple name="categories"  class="form-control" required>
                    {% for i in categories %}
                      <option value="{{i.id}}">{{i }}</option>
                    {% endfor %}
                  </select>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">POST</button>
                </div>
              </div>
            </form>
          {% endif %}
          <h3 class="my-3">Event Categories</h3>
          <ul>
            {% for i in categories %}
            <li>{{i}}</li>
             {% endfor %}
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        {% for i in events %}
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
            <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            <h1>{{i.title}}</h1>
            <h5>Organizer: {{i.created_by.username}}</h5>
            <p>{{i.detail}}</p>
          </a>
        </div>
        {% endfor %}

      </div>
      <!-- /.row -->
{% endblock %}
